﻿@model List<ClothBazar.Entities.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var category in Model)
{
<ul>
    <li>Category Name: @category.Name</li>
    <li>Category Description: @category.Description</li>
</ul>

}

